<!DOCTYPE html>
<ion-view view-title="Article">
   <ion-content>
      <ul class="list">
         <!--ion-item ng-repeat="subarticle in subarticles | orderBy: '-(_votes.up - _votes.down)'"-->
         <li class="item" style="border: transparent"
            collection-repeat="subarticle in subarticles | orderBy: '-(_votes.up - _votes.down)'"
            collection-item-width="'720px'"
            collection-item-height="getSubarticleHeight(subarticle)+ 170">
            <div class="item item-divider">
               <a class="button button-clear button-small" href="#/journalists/{{subarticle.username}}">
                  @{{subarticle.username}}
               </a>
            </div>

            <div class="item item-body">
               <div ng-show="subarticle.text">
                  <p>{{subarticle.text}}</p>
               </div>
               <file-item ng-if="subarticle._file"></file-item>
            </div>

            <div class="item item-divider">
               <div class="item-icon-right">
                  <button class="item button button-clear icon ion-chevron-right"
                     ng-click="toggleComments(subarticle)">
                  </button>
               </div>
               <button class="item button button-clear button-balanced ion-chevron-up"
                  ng-click="upvote(subarticle, $index)">
                   {{subarticle._votes.up}}
                </button>
               <button class="item button button-clear button-assertive ion-chevron-down"
                 ng-click="downvote(subarticle, $index)">
                  {{subarticle._votes.down}}
               </button>

               <div ng-show="subarticle.showComments">
                  <ion-scroll data-tap-disabled="false">
                     <ul class="list">
                        <li
                        ng-repeat="comment in subarticle.comments | orderBy: '-(_votes.up - _votes.down)'">
                           <a class="item item-avatar"  href="#/tab/journalists/{{comment.username}}">
                              <img class="_s0 fbxWelcomeBoxImg _rw img" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/c12.0.50.50/p57x57/64117_10151470410352484_1225492414_n.jpg?oh=6d2398a1b1371fb2d88cfa815b6c4e74&amp;oe=5592BA68&amp;__gda__=1433839573_e0b4f4b7b5512c1db9fb1a5f0ddc5978">
                              <h2>{{comment.username}}</h2>
                              <p>{{comment.content}}<p>
                           </a>
                        </li>
                     </ul>
                  </ion-scroll>
               </div>
            </div>
         </li>
      </ul>
   </ion-content>
</ion-view>
