<!DOCTYPE html>
<ion-view view-title="Instanews - {{user.username}}" style="background: #C0C0C0">
   <ion-nav-buttons side="secondary">
      <button class="button button-clear icon ion-plus-round"
         ng-click="postArticleModal.show($event)">
      </button>
   </ion-nav-buttons>
   <ion-content>
      <ion-refresher pulling-text="Fresh Stuff" on-refresh="onRefresh()">
      </ion-refresher>
      <div class="item no-padding" style="width:100%;height:30%">
         <inMap>
            <div style="width:100%;height:100%" id="feedMap"></div>
         </inMap>
      </div>
      <ul class="list">
         <ion-item class="no-padding card" ng-repeat="article in articles | orderBy: '-(rating)'">
            <div class="item item-avatar item-text-wrap" style="min-height:65px" >
               <img src="img/ionic.png">
               <a class="button button-clear no-padding button-small"
                  href="#/journalists/{{article.username}}">
                  {{article.username}}
               </a>

               <a class="button button-clear button-full"
                  style="margin: 0px;"
                  href="#/articles/{{article.myId}}">
                  {{article.title}}
               </a>
            </div>
            <div class="item" style="border:0px;padding-top:0px;padding-bottom:0px">
               <votes style="border: transparent"
                  voteable="article">
               </votes>
               <comments owner="article"></comments>
            </div>

         </li>
      </ul>
      <ion-infinite-scroll
         on-infinite="loadMore()"
         distance="1%">
      </ion-infinite-scroll>
   </ion-content>
</ion-view>
