<!DOCTYPE html>
<div ng-controller="AppCtrl">
   <ion-side-menus>

      <ion-side-menu-content enable-menu-with-back-views="true">
         <ion-nav-view name="menuContent"></ion-nav-view>
      </ion-side-menu-content>

      <ion-side-menu side="left">
         <ion-content>
         <div class="item item-avatar" nav-clear menu-close ui-sref="app.profile({username: user.username})">
            <img src="img/ionic.png">
            <div ng-if="user.username">
               {{user.username}}
            </div>
            <div ng-if="!user.username">
               Anonymous
            </div>
         </div>

         <div class="item" nav-clear menu-close ui-sref="app.feed" >
            <i class="icon ion-home"></i>
            Home
         </div>

         <ul class="list">
            <div class="item item-text-wrap"
               ng-repeat="note in notifications"
               ng-if="note.message"
               ng-click="handleNotification(note)">
                  {{note.message}}
            </div>
         </ul>
         </ion-content>
         <ion-footer-bar class="bar-dark">
            <div class="row">
               <button ng-if="!user.username" class="col button button-clear" nav-clear menu-close ng-click="login()">
                  Login
               </button>
               <button ng-if="user.username" class="col button button-clear" nav-clear menu-close ng-click="logout()">
                  Logout
               </button>
            </div>
         </ion-footer-bar>
      </ion-side-menu>

   </ion-side-menus>
</div>
