<!DOCTYPE html>
<ion-modal-view>
   <ion-header-bar class="bar-dark">
      <button class="button button-clear icon ion-trash-a" ng-click="trashPhoto()"></button>
      <h1 class="title">Post</h1>
      <button class="button button-clear icon ion-forward" ng-click="postPhoto()"></button>
   </ion-header-bar>
   <ion-content>
      <div class="item no-padding item-divider" style="height:100%">

         <div class="item item-divider">
            <textarea type="text" style="width:100%;" ng-model="data.caption" placeholder=" Caption" required></textarea>
         </div>

         <div class="item item-divider">
            <div class="item no-padding item-image">
               <img src="{{data.imageURI}}">
            </div>
         </div>
      </div>
   </ion-content>
</ion-modal-view>
