<!DOCTYPE html>
<ion-modal-view>
   <ion-header-bar class="bar-dark">
      <button class="button button-clear icon ion-trash-a" ng-click="trashArticle()"></button>
      <h1 class="title">{{newArticle.title}}</h1>
      <button class="button button-clear icon ion-forward" ng-click="postArticle()"
         ng-disabled="!newArticle.title"></button>
   </ion-header-bar>
   <ion-content scroll=false>
      <div class="list">
         <label class="item item-input">
            <input type="text" placeholder="Title" ng-model="newArticle.title" required>
         </label>
         <div class="item item-input item-stacked-label">
            <span class="input-label">
               <div ng-if="!newArticle.posName">
                  Location
               </div>
               <div ng-if="newArticle.posName">
                  {{newArticle.posName}}
               </div>
            </span>
            <div class="item item-icon-right no-padding" style="border:0px;">
               <div  style="width:60%">
                  <input type="search" placeholder="Search"
                     ng-model="newArticle.posSearch">
               </div>
               <div class="icon">
                  <button class="button button-clear ion-location"
                     ng-click="useMyLocation()">
                  </button>
                  <a class="button button-clear ion-map" href="#/tab/map"></a>
               </div>
            </div>
         </div>
      </div>
   </ion-content>
   <ion-footer-bar class="bar-dark">
         <button class="button button-clear icon ion-camera"></button>
         <button class="button button-clear icon ion-compose"></button>
         <button class="button button-clear icon ion-videocamera"></button>
         <button class="button button-clear icon ion-mic-b"></button>
   </ion-footer-bar>
</ion-modal-view>
