<!DOCTYPE html>
<ion-view view-title="Article">
   <ion-content>
      <div class="list">
         <div class="item card"  collection-repeat="subarticle in subarticles | orderBy: '-(_votes.up - _votes.down)'" collection-item-width="'100%'" collection-item-height="'100%'">
            <!-- Up and downvote buttons -->
            <!--
            <ion-option-button class="icon ion-chevron-up"
               ng-click="upvote(subarticle)">
                {{subarticle._votes.up}}
            </ion-option-button>

            <ion-option-button class="icon ion-chevron-down"
               ng-click="downvote(subarticle)">
                {{subarticle._votes.down}}
            </ion-option-button>
-->
            <div class="item-body">
               <span ng-show="subarticle.text">
                  <p>
                     {{subarticle.text}}
                  </p>
               </span>
               <file-item ng-if="subarticle._file"></file-item>
            </div>
            <div class="item item-divider item-icon-right">
               <a href="#/journalists/{{subarticle.journalistId}}" class="icon item-icon-right" style="font-size: 10px; color: black;">- {{subarticle.journalistId}}</a>
            </div>
         </div>
      </div>
   </ion-content>
</ion-view>
