**/node_modules/**

Dockerfile**

circle.yml

client/
server/boot/explorer.js

.strong-pm/
*npm-debug.log
strongloop.json

server/conf/.credentials/unencrypted/
coverage**/
docs/

.idea
.temp
.sass-cache
*.swp
*.swo
*.log
*.DS_Store
