node_modules/
.strong-pm/
*npm-debug.log
strongloop.json

server/conf/.credentials/unencrypted/
coverage**/
docs/

client/platforms/
client/engine/
client/plugins/
client/hooks/
client/resources/android
client/resources/ios
client/www/

client/coverage
client/app/bower_components
client/app/scripts/configuration.js

test/.storage/

.idea
.temp
.sass-cache
*.swp
*.swo
*.log
*.DS_Store
