node_modules/
.strong-pm/
*npm-debug.log
strongloop.json
client/platforms/
client/engine/
client/plugins/
client/resources/
client/www/

client/coverage
client/app/bower_components
client/app/scripts/configuration.js

.idea
.temp
.sass-cache
*.swp
*.swo
*.log
*.DS_Store
