<!DOCTYPE html>
<div ng-if="owner.showComments">
   <ul class="list">
      <li class="item no-padding"
      ng-repeat="comment in owner.comments | orderBy: '-(rating)'">
         <div class="item item-avatar item-text-wrap item-divider"
            style="padding-bottom: 0px; border-bottom-color: transparent">
            <img src="img/ionic.png">
            <a class="button button-clear button-small"
               href="#/tab/journalists/{{comment.username}}" >
               {{comment.username}}
            </a>
            <p>{{comment.content}}</p>

            <inVotes class="item item-divider no-padding"
               style="border: transparent"
               votable="comment">
            </inVotes>
         </div>
      </li>
   </ul>
   <form name="form" class="item" style="border-color: transparent">
      <div style="padding-right:60px">
         <textarea style="width:100%" type="text" ng-model="newComment" placeholder="Comment" required></textarea>
      </div>
      <div class="item-icon-right">
         <button type="reset" class="button button-clear icon ion-forward"
            ng-click="Common.createComment(owner, newComment)" ng-disabled="!newComment">
         </button>
      </div>
   </form>
</div>
