<!DOCTYPE html>
<div ng-if="data.text" class="item">
   <p>{{data.text}}</p>
</div>
<div ng-repeat="video in data.videos">
   <div class="item">
      <div class="item item-image">
         <img ng-src="{{video.poster}}">
         <textarea type="text" style="width:100%;" ng-model="video.caption" placeholder=" Caption"></textarea>

         <span class="input-label">Thumbnail</span>
         <div class="row" ng-if="!video.poster">
            <div class="col">
               <button class="button button-full button-dark icon ion-camera" ng-click="captureThumbnail()"></button>
            </div>
            <div class="col">
               <button class="button button-full button-dark icon ion-image" ng-click="getThumbnail()"></button>
            </div>
         </div>
      </div>
   </div>
</div>
<div ng-repeat="image in data.images">
   <div class="item">
      <div class="item item-image">
         <img ng-src="{{image.URI}}">
         <textarea type="text" style="width:100%;" ng-model="image.caption" placeholder=" Caption"></textarea>
      </div>
   </div>
</div>
