<!DOCTYPE html>
<ion-view view-title="{{newArticle.title}}">
   <!--ion-nav-back-button class="button-clear" ng-click="goBack()"></button>
   </ion-nav-back-button-->
   <ion-nav-buttons side="secondary">
      <button class="button button-clear icon ion-forward" ng-click="post()"
         ng-disabled="!newArticle.title || !getMarker() || !uploads.length"></button>
   </ion-nav-buttons>
   <ion-content>
      <inAutocomplete place="place"></inAutocomplete>
      <inMap map="map"></inMap>

      <div class="list">
         <label class="item item-input">
            <input type="text" placeholder="Title" ng-model="newArticle.title" required>
         </label>

         <div ng-repeat="upload in uploads">
           <inUpload upload="upload"></inUpload>
         </div>
      </div>
   </ion-content>
   <ion-footer-bar class="bar-dark">
      <div class="row">
         <button class="col button button-clear icon ion-camera" ng-click="capturePicture()"></button>
         <button class="col button button-clear icon ion-image" ng-click="openMediaGallery()"></button>
         <button class="col button button-clear icon ion-videocamera" ng-click="captureVideo()"></button>
         <button class="col button button-clear icon ion-compose" ng-click="postTextModal.show()"></button>
      </div>
   </ion-footer-bar>
</ion-view>
