<!DOCTYPE html>
<ion-view view-title="{{newArticle.title}}">
  <!--ion-nav-back-button class="button-clear" ng-click="goBack()"></button>
  </ion-nav-back-button-->
  <ion-nav-buttons side="secondary">
      <button class="button button-clear icon ion-forward" ng-click="post()"
         ng-disabled="!newArticle.title || !getMarker() || !uploads.length"></button>
  </ion-nav-buttons>
  <ion-content>
      <inAutocomplete place="place"></inAutocomplete>
      <inMap map="map"></inMap>

      <div class="list">
         <label class="item item-input">
           <input type="text" placeholder="What's the title?" ng-model="newArticle.title" required>
         </label>

         <div ng-repeat="upload in uploads">
           <inUpload upload="upload"></inUpload>
         </div>
      </div>
  </ion-content>
  <div class="row">
    <md-fab-speed-dial style="position:absolute;right:0;bottom:0;"
    md-open="fab.isOpen" md-direction="up" class="md-fling">
      <md-fab-trigger>
        <md-button aria-label="menu"
          style="font-size: x-large"
          class="md-fab md-dark icon ion-plus-round">
        </md-button>
      </md-fab-trigger>
      <md-fab-actions>
        <md-button aria-label="photo" ng-click="capturePicture()"
          style="font-size: x-large; color: white;"
          class="md-fab md-mini md-positive md-raised icon ion-camera">
        </md-button>
        <md-button aria-label="video" ng-click="captureVideo()"
          style="font-size: x-large; color: white;"
          class="md-fab md-mini md-positive md-raised icon ion-videocamera">
        </md-button>
        <md-button aria-label="gallery" ng-click="openMediaGallery()"
          style="font-size: x-large; color: white;"
          class="md-fab md-mini md-positive md-raised icon ion-image">
        </md-button>
        <md-button aria-label="compose" ng-click="postTextModal.show()"
          style="font-size: x-large; color: white;"
          class="md-fab md-mini md-positive md-raised icon ion-compose">
        </md-button>
      </md-fab-actions>
   </md-fab-speed-dial>
  </div>
</ion-view>
