<!DOCTYPE html>
<ion-view view-title="{{article.title}}" 
  style="background: #F0F0F0">
   <ion-nav-buttons side="secondary">
      <button class="button button-clear icon ion-plus-round"
         ng-click="post()">
      </button>
   </ion-nav-buttons>
   <ion-content delegate-handle="subarticle" on-swipe-down="onSwipeDown()" overflow-scroll="true" class="gpu">
      <in-list list="Subarticles"
        is-card="true"> 
        <inMap map="map"></inMap>
        <div class="item" style="border:0px;padding-top:0px;padding-bottom:0px">
           <inVotes style="border: transparent"
              votable="article">
           </inVotes>
           <inComments owner="article"></inComments>
        </div>
      </in-list>
   </ion-content>
   <in-text-footer>
   </in-text-footer>
</ion-view>
