<!DOCTYPE html>
<ion-view view-title="{{newArticle.title}}"
  style="background-color: #F0F0F0">
  <!--ion-nav-back-button class="button-clear" ng-click="goBack()"></button>
  </ion-nav-back-button-->
  <ion-nav-buttons side="secondary">
      <button class="button button-clear" ng-click="post()"
        ng-disabled="!newArticle.title || !getMarker() || !Uploads.get().length">
        POST
      </button>
  </ion-nav-buttons>
  <ion-content>
      <inAutocomplete place="place"></inAutocomplete>
      <inMap map="map"></inMap>

      <div class="list dynamic-box">
        <label class="item item-input"
          ng-class="{'card' : Platform.getWidth() >= 768}">
           <input type="text" placeholder="What's the title?" on-return="Platform.keyboard.hide();" ng-model="newArticle.title" required>
         </label>

         <div ng-repeat="upload in Uploads.get()">
           <inUpload upload="upload"></inUpload>
         </div>
      </div>
  </ion-content>
  <in-speed-dial position="'bottom-right'" uploads="Uploads"></in-speed-dial>
  <in-text-footer></in-text-footer>
</ion-view>
