<!DOCTYPE html>
<ion-view view-title="Instanews"
  style="background-color: #C0C0C0">
   <ion-nav-buttons side="secondary">
      <button class="button button-clear col icon ion-android-locate" ng-click="localize()"></button>
      <button class="button button-clear icon ion-plus-round" ui-sref="articlePost"></button>
   </ion-nav-buttons>
   <ion-nav-buttons side="primary">
      <button ng-click="toggleMenu()" class="button button-icon icon ion-navicon"></button>
   </ion-nav-buttons>
   <ion-content on-swipe-down="onSwipeDown()">
      <ion-refresher pulling-text="Fresh Stuff" on-refresh="onRefresh()">
      </ion-refresher>
      <div class="item no-padding" style="width:100%;height:38%">
         <inMap>
            <div style="width:100%;height:100%" id="feedMap"></div>
         </inMap>
      </div>
      <ul class="list">
        <ion-item ng-repeat="article in articles track by article.id"
          class="no-padding card">
          <in-list-item item="article"></in-list-item>
        </ion-item>
      </ul>
      <ion-infinite-scroll
         ng-if="itemsAvailable()"
         on-infinite="loadMore()"
         distance="1%">
      </ion-infinite-scroll>
   </ion-content>

  <button class="float-button button button-dark icon ion-chevron-up"
    ng-show="scrollTopVisible" ng-click="scrollTop()">
  </button>
</ion-view>
