<!DOCTYPE html>
<ion-view view-title="{{title}}"
  style="background-color: #F0F0F0">
  <ion-nav-buttons side="secondary">
    <!--button class="button button-clear icon ion-plus-round" ui-sref="articlePost"></buttoni-->
    <button class="button button-clear icon ion-plus"
      ng-if="!Platform.isBrowser()"
      ng-click="post()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="primary">
    <button ng-click="toggleMenu()"
      ng-if="!Platform.isBrowser()"
      class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content delegate-handle="feed" overflow-scroll="true" class="gpu">
    <in-list list="Articles"
      is-card="true"> 
      <inAutocomplete place="place"></inAutocomplete>
      <inMap map="map"></inMap>
    </in-list>
  </ion-content>
  <in-text-footer>
  </in-text-footer>
</ion-view>
