<!DOCTYPE html>
<ion-modal-view>
   <ion-header-bar class="bar-dark">
      <button class="button button-clear icon ion-arrow-left-b"
         ng-click="signupModal.hide()">
      </button>
      <h1 class="title">Instanews</h1>
   </ion-header-bar>
   <ion-content>
      <div class="item item-divider" style="height: 100%">
         <div class="list item no-padding">
            <div class="item item-input item-floating-label"
              ng-class="{'box-invalid' : credUsed }">
               <span class="input-label" >Username</span>
               <input type="text" placeholder="Username" ng-model="newUser.username" required>
            </div>
            <label class="item item-input item-floating-label"
               ng-class="{'box-invalid' : credUsed }">
               <span class="input-label" >Email</span>
               <input type="email" placeholder="Email" ng-model="newUser.email" validate required>
            </label>
            <label class="item item-input item-floating-label"
              ng-class="{'box-invalid' : passwordStrength < 0 ,
              'box-moderate' : passwordStrength === 1,
              'box-strong' : passwordStrength === 2,
              'box-excellent' : passwordStrength > 2 }">
               <span class="input-label" >Password</span>
               <input type="password" placeholder="Password" ng-model="newUser.password" required>
            </label>
         </div>
          <div class="item item-divider item-toggle"
             style="border-bottom: 0px; border-left: 0px; border-right:0px; min-height:47px">
             <p>Remember Me</p>
             <label class="toggle toggle-calm">
                <input type="checkbox" ng-model="newUser.remember">
                <div class="track">
                   <div class="handle"></div>
                </div>
             </label>
          </div>
         <button class="button button-positive button-full" ng-click="signup()" ng-disabled="passwordStrength <= 0">
            Signup
         </button>
      </div>
   </ion-content>
</ion-modal-view>
