<!DOCTYPE html>
<ion-view view-title="{{article.title}}">
   <ion-nav-buttons side="primary">
      <button class="button button-clear icon ion-trash-a" ng-click="goBack()"></button>
   </ion-nav-buttons>
   <ion-nav-buttons side="secondary">
      <button class="button button-clear icon ion-forward" ng-click="postSubarticle()"></button>
   </ion-nav-buttons>
   <ion-content>
     <div ng-repeat="upload in uploads">
       <inProgress upload="upload"></inProgress>
     </div>

     <div ng-repeat="subarticle in subarticles"> 
        <inMedia ng-if="subarticle._file" media="subarticle._file"></inMedia>
        <div ng-if="subarticle.text" class="item">
          {{subarticle.text}}
        </div>
     </div>
   </ion-content>
   <ion-footer-bar class="bar-dark">
      <div class="row">
         <button class="col button button-clear icon ion-camera" ng-click="capturePicture()"></button>
         <button class="col button button-clear icon ion-image" ng-click="openMediaGallery()"></button>
         <button class="col button button-clear icon ion-videocamera" ng-click="captureVideo()"></button>
         <button class="col button button-clear icon ion-compose" ng-click="postTextModal.show()"></button>
      </div>
   </ion-footer-bar>
</ion-view>
