
@import "compass/css3/transition";

// Floating button
.float-button {
  //Positioning
  position: absolute;
  top: 10%;
  margin-right: -50%;
  left: 50%;
  transform: translate(-50%, 0%);

  // Float way above everyone
  z-index: 2000;

  //Make it a circle
  height: 62px;
  width:62px;
  border: 0px;
  border-radius: 50%;

  //Make it a little transparent
  opacity: 0.85;
}

.float-button.ng-hide-add, .float-button.ng-hide-remove {
  @include transition(all 400ms cubic-bezier(.83,.96,.22,1.37));
}

.float-button.ng-hide {
  opacity: 0;
  top: 0;
}

// Footer button
.footer-btn-wrap {
  position: relative;
  height: 100%;
  width: 50px;
  top: 7px;
}

.footer-btn {
  position: absolute !important;
  bottom: 4px;
}

.button-white-positive {
  border-color: transparent;
  background-color: #ffffff;
  color: $positive;
}

.button-white-positive.button-outline {
  border-color: #ffffff;
  color: #ffffff;
  background-color: $positive;
}

.button-white-positive:hover {
  border-color: transparent;
  background-color: #ffffff !important;
  color: $positive;
}

.button-white-positive.button-outline:hover {
  border-color: #ffffff;
  color: #ffffff;
  background-color: $positive !important;
}
