
.comments-list {
  border-radius: 2px;
  box-shadow: -2px 0px 1px $positive;
  margin-top: 5px;
}

.comment {
  border-bottom:0;
  margin-bottom:0;
  padding-bottom: 0px;
  border-bottom-color: transparent;
  padding-right:0;
}
