.video-container {
  max-width: 100%;
  max-height: 800px;
  overflow: hidden;
}

@media only screen and (max-height : 499px) {
  .video-container {
    max-height: 300px;
  }
}

@media only screen and (min-height : 500px) and (max-height : 599px) {
  .video-container {
    max-height: 375px;
  }
}

@media only screen and (min-height : 600px) and (max-height : 699px) {
  .video-container {
    max-height: 450px;
  }
}

@media only screen and (min-height : 700px) and (max-height : 799px) {
  .video-container {
    max-height: 525px;
  }
}

.video-container * {
  max-height: inherit;
}

.image-container {
  max-width: 100%;
  max-height: 800px;
  overflow: hidden;
}

//(orientation:landscape) ~== (min-aspect-ratio: 13/9)
//(orientation:portrait) ~== (max-aspect-ratio: 13/9)

@media only screen and (max-aspect-ratio: 13/9) and (max-height : 499px), only screen and (min-aspect-ratio: 13/9) and (max-width : 499px) {
  .image-container {
    max-height: 300px;
  }
}

@media only screen and (max-aspect-ratio: 13/9) and (min-height : 500px) and (max-height : 599px), only screen and  (min-aspect-ratio: 13/9) and (min-width : 500px) and (max-width : 599px) {
  .image-container {
    max-height: 500px;
  }
}

@media only screen and (max-aspect-ratio: 13/9) and (min-height : 600px) and (max-height : 699px), only screen and (min-aspect-ratio: 13/9) and (min-width : 600px) and (max-width : 699px) {
  .image-container {
    max-height: 600px;
  }
}

@media only screen and (max-aspect-ratio: 13/9) and (min-height : 700px) and (max-height : 799px), only screen and (min-aspect-ratio: 13/9) and (min-width : 700px) and (max-width : 799px) {
  .image-container {
    max-height: 700px;
  }
}

.image-container * {
  max-width: 100%;
  max-height: inherit;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.black-background {
  background-color: black;
}

.icon-center {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index:2;
  text-align:center;
  font-size:100px;
  color: #FFFFFF;
}

// Videogular customizations

//Override videogular font
videogular .iconButton, [videogular] .iconButton {
  font-family: $ionicons-font-family;
}

//Disable videogular focus button border
videogular .iconButton:focus, [videogular] .iconButton:focus {
  border: 0 !important;
}

//Replace fullscreen icon
videogular .enter:before, [videogular] .enter:before {
  content: $ionicon-var-arrow-expand !important;
}

//Replace shrink icon
videogular .exit:before, [videogular] .exit:before {
  content: $ionicon-var-arrow-shrink !important;
}

//Replace play icon
videogular .play:before, [videogular] .play:before {
  content: $ionicon-var-ios-play !important;
}

videogular .pause:before, [videogular] .pause:before {
  content: $ionicon-var-ios-pause !important;
}

videogular vg-overlay-play .overlayPlayContainer, [videogular] vg-overlay-play .overlayPlayContainer {
  opacity: 1.0 !important;
}
