
.no-padding {
  padding: 0px !important;
}

.no-border {
  border: 0px !important;
}

.no-border:before {
  border: 0 !important;
}

.no-border:after {
  border: 0 !important;
}

.no-margin {
  margin: 0px !important;
}

.no-margin:before {
  margin: 0 !important;
}

.no-margin:after {
  margin: 0 !important;
}

.no-wrap {
  display: inline-block;
}

.margin-10 {
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.center-horizontal {
  position:absolute !important;
  left: 50%;
  transform: translateX(-50%);
}

// Focus animation
@-webkit-keyframes focused {
  from {
    background-color: #F3F3FF;
  }
  to {
    background-color: white; 
  }
}

@-moz-keyframes focused {
  from {
    background-color: #F3F3FF;
  }
  to {
    background-color: white; 
  }
}

@keyframes focused {
  from {
    background-color: #F3F3FF;
  }
  to {
    background-color: white; 
  }
}

.focused {
  background-color: white;
  -webkit-animation: focused 3s ease-in 1;
  -moz-animation: focused 3s ease-in 1;
  animation: focused 3s ease-in 1;
}

// Box validations
@mixin box-invalid {
  box-shadow: inset 1px 1px 3px #FF0000, inset -1px -1px 3px #FF0000 !important;
}

.box-invalid {
  @include box-invalid;
}

.box-moderate {
  box-shadow: inset 1px 1px 3px #FF8000, inset -1px -1px 3px #FF8000 !important;
}

.box-strong {
  box-shadow: inset 1px 1px 3px #80FF00, inset -1px -1px 3px #80FF00 !important;
}

.box-excellent {
  box-shadow: inset 1px 1px 3px #00CC00, inset -1px -1px 3px #00CC00 !important;
}

.scroll {
  height: 100%;
}

.pac-container {
  /* This only fixes autocomplete on browsers not mobile */
  pointer-events: visibleStroke !important;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.item-input-wrapper {
  background: white !important;
}

.md-dark {
  background-color: $dark !important;
}

.md-positive {
  background-color: $positive !important;
}

.positive {
  color: $positive !important;
}

.dynamic-box {
}

@media only screen and (min-aspect-ratio: 13/9) and (max-width: 767px) {
  .dynamic-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 768px) {
  .dynamic-box {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.dynamic-autocomplete {
  margin-bottom:-1px;
}

@media only screen and (min-width: 768px) {
  .dynamic-autocomplete {
    margin-bottom:20px !important;
  }
}

//Hack to fix recuring textarea indent issue in ionic
.platform-android {
  textarea {
    text-indent: 0px;
  }
}

//Customize icon-badges
.icon .icon-badge {
  position: absolute;
  top: 0px;
  right: -50%;
  font-size: 10px;
  height: 16px;
  min-width: 16px;
  border-radius: 8px;
  line-height:16px;
  padding:0px 2px;
}

.buttons-left .icon .icon-badge {
  right: -50%;
}

.buttons-right .icon .icon-badge {
  right: 50%;
}

//Hack to fix squashed title on iOS
// ionic issue #4661
.platform-ios {
  .title.title-center.header-item {
    left: 49px!important;
    right: 49px!important;
  }
}

.platform-android {
  .title.title-left.header-item {
    right: 68px!important;
  }
}

.platform-browser {
  .title.title-center.header-item {
    right: 15px!important;
  }
}


// For the end of a list
.list-end {
  padding: 20px;
  text-align: center;
  color: $dark
}



// Scroll-to-top 
.scroll-to-top {
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 2;
  top: $bar-height; 
}

.scroll-to-top.ng-leave,
.scroll-to-top.ng-enter.ng-enter-active {
  top: $bar-height; 
}

.platform-ios.platform-cordova {
  &:not(.fullscreen) {
    .scroll-to-top {
      top: $bar-height + $ios-statusbar-height; 
    }
    .scroll-to-top.ng-leave,
    .scroll-to-top.ng-enter.ng-enter-active {
      top: $bar-height + $ios-statusbar-height; 
    }
  }
}

.scroll-to-top.ng-enter, .scroll-to-top.ng-leave {
  transition: all cubic-bezier(.06,.6,.53,1.18) 0.3s;
}

.scroll-to-top.ng-enter,
.scroll-to-top.ng-leave.ng-leave-active {
  top: -55px;
}


// fade switch
.fade-switch.ng-animate {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-switch.ng-leave,
.fade-switch.ng-leave.ng-leave-active {
  display: none;
}
.fade-switch.ng-enter {
  opacity: 0;
}

.fade-switch.ng-enter.ng-enter-active {
  opacity: 1;
}

// Terms footer
@mixin text-wrapper {
  overflow:visible !important;
  white-space:normal !important;
  text-overflow:ellipsis !important;
}

.text-wrapper {
  @include text-wrapper
}

.terms-footer {
  @include text-wrapper;
  text-align:center !important;
  line-height:20px !important;
  color: black !important;
  font-size: 12px !important;
  opacity:0.5 !important;
}
