
.no-padding {
  padding: 0px !important;
}

.no-border {
  border: 0px !important;
}

.no-border:before {
  border: 0 !important;
}

.no-border:after {
  border: 0 !important;
}

.no-margin {
  margin: 0px !important;
}

.no-margin:before {
  margin: 0 !important;
}

.no-margin:after {
  margin: 0 !important;
}

.no-wrap {
  display: inline-block;
}

.margin-10 {
  margin-left: 10% !important;
  margin-right: 10% !important;
}

.center-horizontal {
  position:absolute !important;
  left: 50%;
  transform: translateX(-50%);
}

// Focus animation
@-webkit-keyframes focused {
  from {
    background-color: #F3F3FF;
  }
  to {
    background-color: white; 
  }
}

@-moz-keyframes focused {
  from {
    background-color: #F3F3FF;
  }
  to {
    background-color: white; 
  }
}

@keyframes focused {
  from {
    background-color: #F3F3FF;
  }
  to {
    background-color: white; 
  }
}

.focused {
  background-color: white;
  -webkit-animation: focused 3s ease-in 1;
  -moz-animation: focused 3s ease-in 1;
  animation: focused 3s ease-in 1;
}

// Box validations
@mixin box-invalid {
  box-shadow: inset 1px 1px 3px #FF0000, inset -1px -1px 3px #FF0000 !important;
}

.box-invalid {
  @include box-invalid;
}

.box-moderate {
  box-shadow: inset 1px 1px 3px #FF8000, inset -1px -1px 3px #FF8000 !important;
}

.box-strong {
  box-shadow: inset 1px 1px 3px #80FF00, inset -1px -1px 3px #80FF00 !important;
}

.box-excellent {
  box-shadow: inset 1px 1px 3px #00CC00, inset -1px -1px 3px #00CC00 !important;
}

.scroll {
  height: 100%;
}

.pac-container {
  /* This only fixes autocomplete on browsers not mobile */
  pointer-events: visibleStroke !important;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.item-input-wrapper {
  background: white !important;
}

.md-dark {
  background-color: $dark !important;
}

.md-positive {
  background-color: $positive !important;
}

.positive {
  color: $positive !important;
}

.dynamic-box {
}

@media only screen and (min-aspect-ratio: 13/9) and (max-width: 767px) {
  .dynamic-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 768px) {
  .dynamic-box {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.dynamic-autocomplete {
  margin-bottom:-1px;
}

@media only screen and (min-width: 768px) {
  .dynamic-autocomplete {
    margin-bottom:20px !important;
  }
}

//Hack to fix recuring textarea indent issue in ionic
.platform-android {
  textarea {
    text-indent: 0px;
  }
}

//Customize icon-badges
.icon .icon-badge {
  position: absolute;
  top: 0px;
  right: -50%;
  font-size: 10px;
  height: 16px;
  min-width: 16px;
  border-radius: 8px;
  line-height:16px;
  padding:0px 2px;
}

.buttons-left .icon .icon-badge {
  right: -50%;
}

.buttons-right .icon .icon-badge {
  right: 50%;
}

