
$dark:                        #023E4F !default;
$button-dark-border:          darken($dark, 10%) !default;
$button-dark-active-bg:       darken($dark, 10%) !default;
$button-dark-active-border:   darken($dark, 10%) !default;

$positive:                        #048AB0 !default;
$button-positive-border:          darken($positive, 10%) !default;
$button-positive-active-bg:       darken($positive, 10%) !default;
$button-positive-active-border:   darken($positive, 10%) !default;
