.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.box-invalid {
  box-shadow: inset 1px 1px 3px #FF0000, inset -1px -1px 3px #FF0000 !important;
}

.box-moderate {
  box-shadow: inset 1px 1px 3px #FF8000, inset -1px -1px 3px #FF8000 !important;
}

.box-strong {
  box-shadow: inset 1px 1px 3px #80FF00, inset -1px -1px 3px #80FF00 !important;
}

.box-excellent {
  box-shadow: inset 1px 1px 3px #00CC00, inset -1px -1px 3px #00CC00 !important;
}

.video-container {
  max-width: 100%;
  max-height: 800px;
  overflow: hidden;
}

@media only screen and (max-height : 499px) {
  .video-container {
    max-height: 300px;
  }
}

@media only screen and (min-height : 500px) and (max-height : 599px) {
  .video-container {
    max-height: 375px;
  }
}

@media only screen and (min-height : 600px) and (max-height : 699px) {
  .video-container {
    max-height: 450px;
  }
}

@media only screen and (min-height : 700px) and (max-height : 799px) {
  .video-container {
    max-height: 525px;
  }
}


.video-container * {
  max-height: inherit;
}

.scroll {
  height: 100%;
}

.pac-container {
  /* This only fixes autocomplete on browsers not mobile */
  pointer-events: visibleStroke !important;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
