.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.margin-10 {
  margin-left: 10% !important;
  margin-right: 10% !important;
}

@mixin box-invalid {
  box-shadow: inset 1px 1px 3px #FF0000, inset -1px -1px 3px #FF0000 !important;
}

.box-invalid {
  @include box-invalid;
}

.box-moderate {
  box-shadow: inset 1px 1px 3px #FF8000, inset -1px -1px 3px #FF8000 !important;
}

.box-strong {
  box-shadow: inset 1px 1px 3px #80FF00, inset -1px -1px 3px #80FF00 !important;
}

.box-excellent {
  box-shadow: inset 1px 1px 3px #00CC00, inset -1px -1px 3px #00CC00 !important;
}

.scroll {
  height: 100%;
}

.pac-container {
  /* This only fixes autocomplete on browsers not mobile */
  pointer-events: visibleStroke !important;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.item-input-wrapper {
  background: white !important;
}

.md-dark {
  background-color: $dark !important;
}

.md-positive {
  background-color: $positive !important;
}
