.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.box-invalid {
  box-shadow: inset 1px 1px 3px #FF0000, inset -1px -1px 3px #FF0000 !important;
}

.box-moderate {
  box-shadow: inset 1px 1px 3px #FF8000, inset -1px -1px 3px #FF8000 !important;
}

.box-strong {
  box-shadow: inset 1px 1px 3px #80FF00, inset -1px -1px 3px #80FF00 !important;
}

.box-excellent {
  box-shadow: inset 1px 1px 3px #00CC00, inset -1px -1px 3px #00CC00 !important;
}

.scroll {
  height: 100%;
}

.pac-container {
  /* This only fixes autocomplete on browsers not mobile */
  pointer-events: visibleStroke !important;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
