
$dark:                        #004C4C !default;
$button-dark-border:          darken($dark, 10%) !default;
$button-dark-active-bg:       darken($dark, 10%) !default;
$button-dark-active-border:   darken($dark, 10%) !default;
