<!DOCTYPE html>

<form ng-submit="search()" class="list dynamic-box dynamic-autocomplete"
  ng-class="{'card' : Platform.getWidth() >= 768 || Platform.isLandscape() }"
  style="padding-bottom: 0;">
  <div class="item item-input row" style="border:0px;margin:0px;padding-bottom:0px;padding-top:0px;">
    <div class="icon ion-search col col-10"></div>
    <input ng-if="!isIOS()"
      class=" col col-80"
      ng-focus="disableTap()"
      ng-click="click(this)"
      on-return="search()"
      onClick="this.select();"
      type="text" id="search-input"
      ng-model="input.value"
      placeholder="{{input.placeholder}}">
    <input ng-if="isIOS()"
      class=" col col-80"
      ng-focus="disableTap()"
      ng-click="click()"
      on-return="search()"
      onclick="this.setSelectionRange(0, this.value.length);"
      type="text" id="search-input"
      ng-model="input.value"
      placeholder="{{input.placeholder}}">

    <div class="no-padding button button-icon dark icon ion-android-locate col col-10" ng-click="place.localize()">
    </div>
    <button type="submit" class="button" style="position:absolute;left:-9999px;top:-9999px;height:0;width:0;"></button>
  </div>
</form>
<div ng-if="!done" class="list dynamic-box" 
  ng-class="{'card' : Platform.getWidth() >= 768 || Platform.isLandscape()}"
  style="height: 0; overflow:visible; z-index:100;">
  <div ng-repeat="prediction in place.predictions">
    <div class="item" ng-click="set(prediction)">
      {{prediction.description}}
    </div>
  </div>
</div>

