<!DOCTYPE html>

<form class="list dynamic-box dynamic-autocomplete"
  autocomplete="off"
  ng-class="{'card' : Platform.getWidth() >= 768 || Platform.isLandscape() }"
  style="padding-bottom: 0;">
  <div class="bar bar-white item-input">
    <button type="submit" ng-click="search()" class="button" style="position:absolute;left:-9999px;top:-9999px;height:0;width:0;"></button>
    <label class="item item-input-wrapper"
      style="border:0px;">
     <i class="icon ion-search placeholder-icon"></i>
     <input type="search"
       style="max-width: 80%"
       ng-focus="disableTap()"
       ng-blur="blur()"
       ng-click="click()"
       on-return="search()"
       type="text" ng-attr-id="{{searchId}}" 
       ng-model="input.value"
       placeholder="{{input.placeholder}}">
    </label>
    <button class="button button-clear"
      ng-click="localize()">
      <i class="icon ion-android-locate dark"></i>
     </button>
  </div>
</form>
<div ng-hide="done" class="list dynamic-box" 
  ng-class="{'card' : Platform.getWidth() >= 768 || Platform.isLandscape()}"
  style="height: 0; overflow:visible; z-index:100;max-width: 560px;">
  <div ng-repeat="prediction in place.predictions">
    <div ng-switch="Platform.isBrowser() && !(Platform.isIOS() || Platform.isAndroid())">
      <div class="item" 
        ng-switch-when="true"
        ng-mousedown="set(prediction)">
        {{prediction.description}}
      </div>
      <div class="item" 
        ng-switch-when="false"
        ng-click="set(prediction)">
        {{prediction.description}}
      </div>
    </div>
  </div>
</div>

