<!DOCTYPE html>
<div ng-if="owner.showComments">
  <ul class="list">
    <li ng-repeat="comment in owner.comments track by comment.id"
      class="no-padding item">
      <in-list-item item="comment"></in-list-item>
    </li>

    <button class="button ion-refresh button-small button-icon dark"
      ng-click="loadMore(owner)"> Load more comments
    </button>
    <button class="button button-small button-icon ion-edit dark"
      style="float: right;border:0;margin:0;"
      ng-click="create()">  Add a comment</button>
  </ul>
</div>
