<!DOCTYPE html>
<div class="item item-text-wrap item-divider"
  style="border-bottom:0;margin-bottom:0;padding-bottom: 0px; border-bottom-color: transparent">
  <div class="row no-padding">
    <div class="col col-90 no-padding">
      <b>{{item.username}}</b> &bull; <span am-time-ago="item.created"></span>
    </div>
    <div class="buttons col col-10 col-top no-padding">
      <button class="no-margin button button-small button-clear icon ion-close-round"
        ng-if="is.mine()"
        style="color:#E0E0E0;text-align:right;padding-right:0;"
        ng-click="item.destroy()">
      </button>
    </div>
  </div>
  <p class="no-margin">{{item.content}} <button class="no-margin button button-small button-clear icon ion-edit"
      ng-if="is.mine()"
      ng-click="edit()">
    </button>
  </p>
  <!--a class="button button-clear button-small"
   ui-sref="app.profile({username: item.username})" >
     <b>{{item.username}}</b> &bull; <span am-time-ago="item.created"></span>
  </a>
  <p>{{item.content}}</p-->

  <inVotes class="item item-divider no-padding"
     style="border: transparent"
     votable="item">
  </inVotes>
  <inComments owner="item"></inComments>
</div>
