<!DOCTYPE html>
<div class="item item-text-wrap item-divider"
  style="border-bottom:0;margin-bottom:0;padding-bottom: 0px; border-bottom-color: transparent">
  <a class="button button-clear button-small"
     ui-sref="app.profile({username: item.username})" >
     <b>{{item.username}}</b> &bull; <span am-time-ago="item.created"></span>
  </a>
  <p>{{item.content}}</p>

  <inVotes class="item item-divider no-padding"
     style="border: transparent"
     votable="item">
  </inVotes>
  <inComments owner="item"></inComments>
</div>
