<!DOCTYPE html>
<div ng-show="owner.showComments || Comments.enableFocus"
  class="comments-list">
  <in-list list="Comments"
    is-card="false"
    is-not-infinite="true"> 
  </in-list>
  <button class="ng-cloak show-more button ion-refresh button-icon dark"
    style="float: left;"
    ng-show="Comments.areItemsAvailable()"
    ng-click="Comments.more(10)">
    <i ng-if="owner.modelName !== 'comment'">Show more</i>
    <i ng-if="owner.modelName === 'comment'">Show older</i>
  </button>
  <button 
    class="button button-icon dark"
    style="float: right;"
    ng-class="(owner.modelName !== 'comment') ? 'ion-edit': 'ion-forward'"
    ng-click="create()">
    <i ng-if="owner.modelName !== 'comment'">Comment</i>
    <i ng-if="owner.modelName === 'comment'">Reply</i>
  </button>
</div>

