<!DOCTYPE html>
<!--ion-refresher pulling-text="Fresh Stuff" on-refresh="onRefresh()">
</ion-refresher-->

<div ng-transclude></div>
<ul class="list">
  <div ng-repeat="item in list.get() track by item.id"
    class="no-padding no-border"
  ng-class="getClasses()">
    <in-list-item item="item"
      pre-load="list.preLoad">
    </in-list-item>
  </div>
</ul>
<!--ion-infinite-scroll
   immediate-check="false"
   ng-if="!isNotInfinite"
   ng-show="list.areItemsAvailable()"
   on-infinite="load()"
   distance="30%">
</ion-infinite-scroll-->
    <!--ng-class="{ 'dynamic-box': list.get()[0].modelName !== 'comment', 'card' : isCard || isTablet(), 'margin-10' : isTablet() && Platform.getWidth < 768}"-->
