<!DOCTYPE html>
<div ng-if="media.type && media.type.indexOf('image') > -1"
  class="no-padding image-container"
  ng-controller="imageCtrl">
  <img height="auto" width="auto" ng-src="{{source}}">
</div>

<div ng-if="media.type && media.type.indexOf('video') > -1" 
  ng-controller="videoCtrl"
  class="video-container">
  <videogular>
    <vg-media ng-if="Platform.isIOS()"
      vg-native-controls="true"
      vg-src="sources">
    </vg-media>

    <div ng-if="!Platform.isIOS()">
      <vg-media vg-src="sources"
        vg-preload="preload">
    </vg-media>

    <vg-controls>
      <vg-play-pause-button></vg-play-pause-button>
      <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      </vg-scrub-bar>
      <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
      <vg-fullscreen-button></vg-fullscreen-button>
    </vg-controls>

    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>
    <vg-poster ng-if="poster && Platform.isAndroid()" vg-url='poster'></vg-poster>
    </div>
  </videogular>
</div>

<div class="item" ng-if="!media.type">
  <p><i>Preparing your content.
    This may take a while...</i>
  </p>
</div>

<div class="item" 
  style="border-top: 0px;"
  ng-if="media.caption">
  <p class="no-margin">{{media.caption}} <button class="no-margin button button-small button-clear icon ion-edit"
      ng-if="isMine()"
      ng-click="editCaption()">
    </button>
  </p>
</div>
<div class="item"
  style="border-top: 0px;"
  ng-if="!media.caption && isMine()">
  <button class="no-margin positive button button-small button-clear icon ion-edit"
    ng-click="editCaption()">
    Add a caption... 
  </button>
</div>
