<!DOCTYPE html>
<!--div class="item item-avatar item-text-wrap" style="min-height:65px" >
   <img src="images/ionic.png">
   <a class="button button-clear no-padding button-small"
      ui-sref="app.profile({username: item.username})">
      <b>{{item.username}}</b> &bull; <span am-time-ago="item.created"></span>
   </a>

</div-->
<div class="item item-body"
  ng-if="item._file" 
  style="border-bottom:0;margin-bottom:0;padding-right:0;padding-left:0;padding-top:0px;padding-bottom:1px">
   <inMedia media="item._file" id="item.id"></inMedia>
</div>

<div class="item item-body"> 
  <b>{{item.username}}</b> &bull; <span am-time-ago="item.created"></span>
  <p ng-if="item.text">{{item.text}}</p>
</div>

<div class="item" style="border:0px;padding-top:0px;padding-bottom:0px">
   <inVotes style="border: transparent"
      votable="item">
   </inVotes>
   <inComments owner="item"></inComments>
</div>
