<!DOCTYPE html>
<div class="item card no-padding"
  ng-class="{'dynamic-box' : dynamic}"
  ng-if="upload.subarticle._file">
  <div class="item item-divider no-padding">
    <div class="buttons">
      <button class="button button-small button-clear button-dark icon ion-refresh"
        ng-if="!upload.isPosting && (upload.subarticle._file.type.indexOf('image') > -1)"
        ng-click="rotate()">
      </button>
      <button class="button button-small button-clear button-dark icon ion-close-round"
        style="position:absolute;right:0;"
        ng-if="!upload.isPosting"
        ng-click="upload.remove()">
      </button>
    </div>
  </div>
  <div ng-if="!upload.isPosting">
    <md-progress-linear value="{{upload.loaded}}"
      md-mode="determinate">
    </md-progress-linear>
  </div>
  <div ng-if="upload.isPosting">
    <md-progress-linear
      md-mode="query">
    </md-progress-linear>
  </div>
  <inMedia edit-caption="caption.edit" is-mine="is.mine" media="upload.subarticle._file" degrees="degrees"></inMedia>
</div>
<div class="card" ng-if="upload.subarticle.text">
  <div class="item item-divider no-padding">
    <div class="buttons">
      <button class="button button-small button-dark button-clear icon ion-close-round"
        style="position:absolute;right:0;"
        ng-if="!upload.isPosting"
        ng-click="upload.remove()">
      </button>
    </div>
  </div>
  <p class="item item-text-wrap">{{upload.subarticle.text}} <button class="no-margin button button-small button-clear icon ion-edit"
      style="color:#B2B2B2;"
      ng-if="!upload.isPosting"
      ng-click="edit()">
    </button>
  </p>
  <md-progress-linear
    ng-if="upload.isPosting"
    md-mode="query">
  </md-progress-linear>
</div>
