<!DOCTYPE html>
<div class="item card no-padding" ng-if="upload.subarticle._file">
  <div class="item item-divider no-padding">
    <div class="buttons">
      <button class="button button-small button-clear icon ion-close-round"
        style="position:absolute;right:0;"
        ng-click="upload.remove()">
      </button>
    </div>
  </div>
  <div ng-if="!upload.isPosting">
    <md-progress-linear value="{{upload.loaded}}"
      md-mode="determinate">
    </md-progress-linear>
  </div>
  <div ng-if="upload.isPosting">
    <md-progress-linear
      md-mode="query">
    </md-progress-linear>
  </div>
  <inMedia media="upload.subarticle._file"></inMedia>
</div>
<div class="item card" ng-if="upload.subarticle.text">
  <div class="buttons">
    <button class="button button-small button-clear icon ion-close-round"
      style="position:absolute;right:0;"
      ng-click="upload.remove()">
    </button>
  </div>
  <p>{{upload.subarticle.text}}</p>
  <md-progress-linear
    ng-if="upload.isPosting"
    md-mode="query">
  </md-progress-linear>
</div>
