<!DOCTYPE html>
<button class="item button button-clear button-small ion-arrow-up-b"
  ng-class="votable.upVoted ? 'button-positive': 'button-stable'"
  style="border:0;margin:0;"
  ng-style="{'font-weight': votable.upVoted ? 'bold' : 'normal'}"
   ng-click="upvote()">
    {{votable.upVoteCount}}
 </button>
<button class="item button button-clear button-small ion-arrow-down-b"
  ng-class="votable.downVoted ? 'button-positive' : 'button-stable'"
  ng-style="{'font-weight': votable.downVoted ? 'bold' : 'normal'}"
  style="border:0;margin:0;"
  ng-click="downvote()">
   {{votable.downVoteCount}}
</button>
<button ng-if="votable.commentableType !== 'comment'"
  class="item button button-clear button-small"
  ng-class="votable.showComments ? ' ion-arrow-down-b button-positive': 'ion-arrow-right-b button-stable'"
  ng-style="{'font-weight': votable.showComments ? 'bold' : 'normal'}"
  style="float: right;border:0;margin:0;"
  id="{{votable.id}}"
  ng-click="toggleComments()">
  Comment
</button>
<!-- TODO delete this -->
<button class="item button button-clear button-small"
  style="float: right;border:0;margin:0;">
  Score: {{score.value}}
</button>
