<!DOCTYPE html>
<section layout="row" layout-wrap>
  <section flex layout="row" layout-alignt="start center">
    <md-button class="item button button-small button-clear ion-arrow-up-b"
      ng-class="votable.upVoted ? 'button-positive': 'button-stable'"
      style="border:0;margin:0;"
      ng-style="{'font-weight': votable.upVoted ? 'bold' : 'normal'}"
      ng-click="upvote()">
         {{Platform.numToString(votable.upVoteCount)}}
    </md-button>
    <md-button class="item button button-clear button-small ion-arrow-down-b"
      ng-class="votable.downVoted ? 'button-positive' : 'button-stable'"
      ng-style="{'font-weight': votable.downVoted ? 'bold' : 'normal'}"
      style="border:0;margin:0;"
      ng-click="downvote()">
         {{Platform.numToString(votable.downVoteCount)}}
    </md-button>
    <md-button ng-if="(votable.commentableType !== 'comment' && votable.modelName !== 'comment')"
      style="border:0;margin:0;"
      class="item button button-clear button-positive button-small ion-android-share"
      ng-style="{'font-weight': votable.shared ? 'bold' : 'normal'}"
      ng-click="share()">
         {{Platform.numToString(votable.shareCount)}}
    </md-button>
  </section>
  <section flex layout="row" layout-align="end center"
    ng-if="votable.commentableType !== 'comment'">
    <md-button class="item button button-clear button-small"
      ng-class="(votable.showComments || Comments.enableFocus) ? ' ion-arrow-down-b button-positive': 'ion-arrow-right-b button-stable'"
      ng-style="{'font-weight': votable.showComments ? 'bold' : 'normal'}"
      style=border:0;margin:0;"
      id="{{votable.id}}"
      ng-click="toggleComments()">
      <span ng-if="votable.modelName !== 'comment'">
          {{Platform.numToString(votable.createCommentCount)}} Comments
      </span>
      <span ng-if="votable.modelName === 'comment'">
          {{Platform.numToString(votable.createCommentCount)}} Replies
      </span>
    </md-button>
  </section>
</section>
