<!DOCTYPE html>
<ion-modal-view>
   <ion-header-bar class="bar-dark">
     <button class="button buttons back-button button-clear"
      ng-click="aboutModal.hide()">
      <i class="icon"
        ng-class="Platform.isIOS() ? 'ion-ios-arrow-back' : 'ion-android-arrow-back'"></i>
     </button>
     <h1 class="title">
       Settings 
     </h1>
   </ion-header-bar>
   <ion-content>
      <div class="list">
        <div class="item">
          <span ng-switch="!!user.userId">
            <div class="fade-switch" ng-switch-when="true"> 
              <div class="button button-outline button-block button-dark" nav-clear menu-close ng-click="logout()">
                Logout
              </div>
            </div>
            <div class="fade-switch" ng-switch-default>
              <div class="button button-block button-dark" nav-clear menu-close ng-click="login()">
                Sign Up / Login
              </div>
            </div>
          </span>
        </div>
        <div class="item item-divider">
          Having an issue? 
        </div>
        <div class="item">
           <button class="button button-block  button-outline button-icon ion-ios-help button-positive" nav-clear menu-close ng-click="showFAQ()">
              FAQ
           </button>
        </div>
        <div class="item">
           <button class="button button-block  button-outline button-icon ion-person button-assertive" nav-clear menu-close ng-click="showConversations()">
              Contact Support 
           </button>
        </div>
        <div class="item" style="text-align: center;">
          Email: support@instanews.com 
        </div>
        <div class="item item-divider">
          General Info
        </div>
        <div class="item">
           <button class="button button-full button-clear button-dark" nav-clear menu-close ng-click="Terms.getTermsModal().show()">
              Terms of Use
           </button>
        </div>
        <div class="item">
           <button class="button button-full button-clear button-dark" nav-clear menu-close ng-click="Terms.getPrivacyModal().show()">
              Privacy Policy
           </button>
        </div>
      </div>
   </ion-content>
</ion-modal-view>

