<!DOCTYPE html>
<ion-modal-view>
   <ion-header-bar class="bar-dark">
     <button class="button buttons back-button button-clear"
      ng-click="pendingModal.hide()">
      <i class="icon"
        ng-class="Platform.isIOS() ? 'ion-ios-arrow-back' : 'ion-android-arrow-back'"></i>
     </button>
     <h1 class="title">
       Pending...
     </h1>
     <!--button class="button buttons button-clear"
       ng-click="continue()">
       CONTINUE
     </button-->
   </ion-header-bar>
   <ion-content>
      <div class="list">
        <div ng-repeat="article in Uploads.getPending()">
          <div class="item item-divider">
            <!--h1 class="title">
              {{article.title}}
            </h1-->
            <button class="button buttons button-clear"
              ng-hide="Post.isPosting()"
              ng-click="retry(article)">
              <i class="icon"
                ng-class="Platform.isIOS() ? 'ion-ios-refresh-empty' : 'ion-android-refresh'"></i>
          </div>
          <div ng-repeat="upload in article.uploads.get()">
            <inUpload upload="upload"></inUpload>
        </div>
      </div>
   </ion-content>
</ion-modal-view>

