<!DOCTYPE html>
<ion-modal-view>
  <ion-content>
    <div class="list list-inset" style="margin-top:10px;">
      <div class="item item-text-wrap">
        We sent a reset code to your email. Please enter it below.
      </div>
      <label class="item item-input item-floating-label"
        ng-class="{'box-invalid' : reset.token && (reset.token.length !== 6)}" 
        style="border-top:0;border-left:0;border-right:0">
        <span class="input-label" >Reset Code</span>
        <input type="text" placeholder="Reset Code" ng-model="reset.token" required>
      </label>
      <label class="item item-input item-floating-label"
        style="border-top:0;border-left:0;border-right:0"
        ng-class="{'box-invalid' : passwordStrength < 0 ,
        'box-moderate' : passwordStrength === 1,
        'box-strong' : passwordStrength === 2,
        'box-excellent' : passwordStrength > 2 }">
        <span class="input-label" >New Password</span>
        <input type="password" placeholder="New Password" ng-model="reset.password" required>
      </label>
      <label class="item item-input item-floating-label"
        ng-class="{'box-invalid' : reset.confirmPassword && (reset.password !== reset.confirmPassword)}" 
        style="border-top:0;border-left:0;border-right:0">
        <span class="input-label" >Confirm Password</span>
        <input type="password" placeholder="Confirm Password" ng-model="reset.confirmPassword" required>
      </label>
      <button class="button button-positive button-block no-padding" 
        ng-disabled="reset.invalid()"
        ng-click="resetPassword()">
        Submit
      </button>
      <button class="button button-stable button-block no-padding" ng-click="reset.Modal.hide()">
        Cancel 
      </button>
      <button class="button button-dark button-clear button-block no-padding" 
        ng-click="requestPasswordReset()">
        Resend 
      </button>
    </div>
  </ion-content>
</ion-modal-view>
