<!DOCTYPE html>
<ion-modal-view>
   <ion-header-bar class="bar-dark">
     <button class="button buttons back-button button-clear"
      ng-click="textInput.modal.hide()">
      <i class="icon"
        ng-class="Platform.isIOS() ? 'ion-ios-arrow-back' : 'ion-android-arrow-back'"></i>
     </button>
     <h1 class="title">What's the story?</h1>
     <button class="button buttons button-clear" ng-click="textInput.saveText()">
       ADD
     </button>
   </ion-header-bar>
   <ion-content scroll=false>
      <div class="item" style="height:100%;">
        <label class="item-input-wrapper"
          ng-class="{'box-invalid' : textInput.text === undefined }"
          style="padding-top: 5px;padding-bottom:5px;height:100%">
          <textarea type="text"
            style="width: 100%;height:100%;resize:none"
            id="text-input-modal"
            ng-model="textInput.text"
            ng-maxlength="textInput.maxLength"
            placeholder="{{textInput.placeholder}}"
            required>
          </textarea>
        </label>
      </div>
   </ion-content>
</ion-modal-view>
