<!DOCTYPE html>
<ion-modal-view>
   <ion-header-bar class="bar-dark">
     <div class="buttons">
      <button class="button button-clear icon ion-close-round"
         ng-click="clear()">
      </button>
     </div>
     <h1 class="title">{{article.title}}</h1>
     <div class="buttons">
      <button class="button button-clear" ng-click="post()">
       ADD 
      </button>
    </div>
   </ion-header-bar>
   <ion-content>
      <div class="list">
        <div ng-repeat="upload in Uploads.get()">
          <inUpload upload="upload"></inUpload>
        </div>
      </div>
   </ion-content>
</ion-modal-view>
